#container {
    margin: 2em 10em;
    height: 100vh;
    background-color: azure;
}

@media (max-width: 480px) {
    #container {
        margin: 2em 2.5em;
    }
}

mat-card-content {
    font-size: 10rem;
    text-align: center;
}